/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";

body { 
    padding: 20px; 
}

label {
    margin-left: 10px;
    margin-right: 10px;
}

td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
    border-style: dotted;
}

th {
    border-bottom: 2px solid black;
}

tbody {
    margin-top: 100px;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-purchase {
    margin-right: 20px;
    margin-left: 20px;
}

.table-products {
    margin-top: 30px;
    width: 100%;
}

.cell-purchase {
    width: 20px;
}

.items-my-products {
    border-radius: 15px;
}