<navbar></navbar>
<h2>Create product</h2>
<div class="inputFields">
    <label for="Name">Name</label>
    <input 
        #name
        name="name" 
        id="Name" 
        type="text">
    <label for="Description">Description</label>
    <input 
        #description
        name="description" 
        id="Description" 
        type="text">
    <label for="Price">Price</label>
    <input 
        #price
        name="price" 
        id="Price" 
        type="text">
    <label for="Currency">Currency</label>
    <select #currency name="currency" id="Currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="VEF">VEF</option>
    </select>
    <button 
        (click)="createProduct(name, description, price, currency)"
        class="btn btn-primary submit">
        Submit
    </button>
</div>
<ul class="list-group">
    <li 
        *ngFor="let product of products"
        class="list-group-item">
        <button
            (click)="deleteProduct(product)"
            class="btn btn-default btn-sm"
            float="right">
            Delete
        </button>
        Name: {{ product.name }} // Description: {{ product.description }} // Creation date: {{ product.createdDate }}
    </li>
</ul>