<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a 
        class="nav-link"
        routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a 
        class="nav-link"
        routerLink="/allproducts">All products</a>
      </li>
      <li routerLinkActive="active">
        <a 
        class="nav-link"
        routerLink="/myproducts">My products</a>
      </li>
      <li routerLinkActive="active">
        <a 
        class="nav-link"
        routerLink="/transactions">Transactions</a>
      </li>
      <li routerLinkActive="active">
        <a 
        (click)="authService.logout()"
        routerLink="/login"
        class="nav-link">Log out</a>
      </li>
    </ul>
  </div>
</nav>
